<html>
    <head>
        <meta http-equiv='Content-Type' content='text/html;charset=UTF-8'>
        <title>{{greeting}}</title>
        <script src="assets/js/jquery-3.3.1.js"></script>
        <script src="semantic/semantic.min.js"></script>
        <script src="assets/js/hls.js"></script>
		<script src="assets/js/index.js"></script>
        <link rel="stylesheet" type="text/css" href="semantic/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="assets/css/index.css">
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <a href="/" class="header item">
					<img class="logo" src="assets/images/logo.jpg">
					Reactions Flex
                </a>
				<a href="{{uploadURL}}" class="item">Upload</a>
            </div>
        </div>
        <div id="main" class="ui main text container">
            <h1 class="ui header">List of reactions</h1>   
			<div id="filePrepare" class="ui segment">
				<div id="loaderDimmer" class="ui active dimmer">
					<div class="ui indeterminate text double loader">Loading...</div>
				</div>
				<p id="loaderData"></p>
			</div>
        </div>
        <div class="ui inverted vertical footer segment">
            <div class="ui center aligned container">
                <div class="ui inverted section divider"></div>
                <img src="assets/images/logo.jpg" class="ui centered mini logo image">
                <div class="ui horizontal inverted small divided link list">
                    <a class="item" href="#">Contact Us</a>
                    <a class="item" href="#">Terms and Conditions</a>
                </div>
            </div>
        </div>
    </body>
</html>